<div class="range-container">
	<div class="value-container"
		 [ngStyle]="{'left': offset}"
		 [@sliderValueDirection]="directionState"
		 [@sliderValueVisibility]="focused ? 'visible': 'hidden'">
		<span class="value">{{value}}</span>
	</div>
	<input
		type="range"
		class="range"
		(mousedown)="mouseDown()"
		(mouseup)="mouseUp()"
		(touchstart)="mouseDown()"
		(touchend)="mouseUp()"
		[ngStyle]="{'background': bgGradient}"
		[class.active]="focused"
		[class.moving]="directionState != 'unset'"
		[formControl]="formControl"
		[id]="id"
		[min]="min"
		[max]="max">
</div>
