<div class="range-container">
	<div class="value-wrapper"
		 [ngStyle]="{'left': offset | async, 'transform': balloonTransformation}"
		 [class.visible]="focused">
		<div class="value-container">
			<span class="value">{{value}}</span>
		</div>
	</div>
	<input
		type="range"
		class="range"
		(mousedown)="mouseDown()"
		(mouseup)="mouseUp()"
		(touchstart)="mouseDown()"
		(touchend)="mouseUp()"
		[ngStyle]="{'background': bgGradient}"
		[class.active]="focused"
		[class.moving]="isMoving"
		[formControl]="formControl"
		[id]="id"
		[min]="min"
		[max]="max"/>
</div>
