$primary_color: #4834D4;
$secondary_color: #D2E2FF;

.range-container {
	position: relative;

	.range {
		width: 100%;
		-webkit-appearance: none;
		height: 3px;
		border-radius: 3px;

		&:focus {
			outline: none;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 18px;
			height: 18px;
			background-color: white;
			border: 5px solid $primary_color;
			border-radius: 100px;
			transition: .25s ease-in-out;
			pointer-events: none;
			transform: scale(1);
		}

		&.active, &:active {
			&::-webkit-slider-thumb {
				transition: .25s ease-in-out;
				border: 1px solid $primary_color;
				transform: scale(2.1);
			}
		}

		&.moving {
			&::-webkit-slider-thumb {
				transition: .25s ease-in-out;
				transform: scale(1.7);
			}
		}
	}

	.value-wrapper {
		top: 30px;
		position: absolute;
		margin-left: 8px;
		opacity: 0;
		z-index: -1;
		user-select: none;
		transition: .25s ease-in-out top, .25s ease-in-out opacity;

		&.visible {
			opacity: 1;
			top: -17px;
		}

		.value-container {
			margin-left: -20px;
			position: absolute;
			top: -65px;
			width: 45px;
			height: 45px;
			background-color: $primary_color;
			text-align: center;
			border-radius: 100px;
			transition: .4s ease-in-out transform;

			&:after {
				content: '';
				position: absolute;
				left: 5px;
				top: 37px;
				width: 0;
				height: 0;
				border-left: 17px solid transparent;
				border-right: 18px solid transparent;
				border-top: 20px solid $primary_color;
				clear: both;
			}

			&:before {
				content: '';
				position: absolute;
				left: 15px;
				top: 58px;
				width: 0;
				height: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 9px solid $primary_color;
				clear: both;
				transform: rotate(-180deg);
			}

			.value {
				color: white;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				font-weight: bold;
			}
		}
	}
}
